@model Blogger.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>@Html.DisplayFor(model => model.Name)</h1>
<h4>on @Html.DisplayFor(model => model.Date).</h4>
<h5>
    <a href="#comments"><i class="icon-comment"></i>&nbsp;@Model.Comments.Count() comments</a>
    &nbsp;&nbsp;
				</h5>

<p>@Html.DisplayFor(model => model.Description) </p>


@{Html.RenderAction("CommentDetails", "Comments");}
