@model IEnumerable<Blogger.Models.Comment>



@foreach (var item in Model)
{
    <div id="comments">
        <h5><i class="icon-user"></i>&nbsp;reply by <a href="#">@Html.DisplayFor(modelItem => item.Name)</a> on @Html.DisplayFor(modelItem => item.DateTime).</h5>
        <div class="well">
            <p>@Html.DisplayFor(modelItem => item.Comment1)</p>
        </div>
        <a href="#" class="pull-right">reply</a>
    </div>
}



@{Html.RenderAction("CommentsCreate", "Comments");}


