@model List<Blogger.Models.ArchivesSet>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">
            <h3>Archives</h3>
        </li>
        @foreach (var dateItem in Model)
        {
            <li>
                <h3>@Html.DisplayFor(modelItem => dateItem.Month)
                    @Html.DisplayFor(modelItem => dateItem.Year)   (@Html.DisplayFor( modelItem => dateItem.Count))

                </h3>
            </li>
            foreach (var postItem in dateItem.PostList)
            {
                
            <li>
                <a href="~/Post/@postItem.Id/@Blogger.Models.UrlEncoder.ToFriendlyUrl(postItem.Name)" >@postItem.Name </a> 
            </li>
            }
        }
    </ul>
</div>



