@model IEnumerable<Blogger.Models.Category>



<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">
            <h3>Categories</h3>
        </li>
        @foreach (var genre in Model)
        {
            <li>@Html.ActionLink(genre.Name,
                "Browse", "Store",
                new { Genre = genre.Name }, null)
            </li>
        }
    </ul>
</div>

