@model IEnumerable<Blogger.Models.Category>



<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">
            <h3>Categories</h3>
        </li>
        @foreach (var category in Model)
        {
            <li>
                <a href="~/Category/@category.Id/@category.Name"><h3> @category.Name (@category.Posts.Count())</h3></a>
            </li>
            foreach (var post in category.Posts)
            {
                <li>
                     <a href="~/Post/@post.Id/@post.Name">@post.Name</a>
                </li> 
            }
        }
    </ul>
</div>

